<h1>Information of Axis bank</h1>

Axis Bank Limited is an Indian private sector bank headquartered in Mumbai, Maharashtra.[8] It sells financial services to large and mid-size companies, SMEs and retail businesses.[1]

As of 30 June 2016, 30.81% shares are owned by the promoters and the promoter group (United India Insurance Company Limited, Oriental Insurance Company Limited, National Insurance Company Limited, New India Assurance Company Ltd, GIC, LIC and UTI).[9] The remaining 69.19% shares are owned by mutual funds, FIIs, banks, insurance companies, corporate bodies and individual investors.[10]

<div id='j'class="jumbotron jumbotron-fluid">
  <div class="container" align='center'>
  </div>
</div>